.brand {
  padding: 2rem;
  margin-top: 4rem;
   /* optional background */
}

.brand > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem; /* space between logos */
}

.brand img {
  cursor: pointer;
  max-width: 120px; /* or use a % if you prefer */
  width: 100%;
  height: auto;
  object-fit: contain;
}
